html {
    font-family: 'Roboto', sans-serif;
}
/*header styling*/
/*TODO: make this responsive*/
header {
    border-bottom: 3px solid #7d97ad;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.container, div {
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#logo, #user {
    width: 100%;
}
#logo {
    text-align: left;
    max-width: 100px;
}
#user {
    text-align: right;
}
.flex #user {
    flex-direction: column;
}
h1, h3 {
    margin-top: 0;
    margin-bottom: 0;
}
#user h1 {
    font-weight: normal;
}
#user h3 {
    font-weight: bolder;
}
/*end of header section*/

/*featured work section*/
img {
    width: 100%;
}
article div img {
    width: 100%;
    height: auto;
}
section div h2 {
    color: #7d97ad;
}
article {
    color: #2d3c49;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-weight: bolder;
}

.featured-work div h2 {
    padding:2%;
}
/*the second div is for name of project*/
article div:nth-child(2) { 
    font-size: xx-large;
}
/*end of featured work section*/
section div img {
    width: 100%;
    height: auto;
    max-height: 440px;
}
@media only screen and (max-width: 500px) {
    /*cover section is removed for mobile*/
    .cover {
        display: none;
    }
    .featured-work .flex {
        flex-direction: column;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
    .featured-work .flex {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    article {
        max-width: 450px;
    }
    article div img {
        max-height: 300px;
    }
}

@media only screen and (min-width: 1024px) {
    .featured-work {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
    .featured-work .flex {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    article {
        max-width: 450px;
    }
    article div img {
        max-height: 300px;
    }
}